/*
#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}/*


onClick={onOpen}const { isOpen, onOpen, onClose } = useDisclosure();
    const [placement, setPlacement] = React.useState('right');



    <Drawer isOpen={isOpen} placement={'right'}
        onClose={onClose}
        finalFocusRef={btnRef}
      ></Drawer>


       const { isOpen, onOpen, onClose } = useDisclosure()
  const btnRef = React.useRef()